@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html,body{
	font-family: Open Sans;
	padding: 0;
	margin: 0;
	width: 100%;
}
#main{
	padding: 3em;
	padding-left: 6em;
}
#logo{
}
#link{
	float: right;
	margin-bottom: 2em;	
	width: 5em;
}
#calendar{
	width: 100%;
}
.fc-scroller{
	height: auto!important;
	overflow-y: hidden!important;
}
.fc-row{
	height: auto!important;
}
.clearfix{
	clear:both;
}