<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Büizé</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/fullcalendar.css') }}" />
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel='stylesheet' href="{{ url_for('static', filename='css/make.css') }}" />
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/fullcalendar.js') }}"></script>
    <script>
        times = [
            {% for event in events %}
                { start: {{ event[0] }}, end: {{ event[1] }} },
            {% endfor %}
        ]

        var n = 0;
        calendar1 = [];
        calendar2 = [];
        var n = 0; //counter to generate unique id for each event
        var test_var = new Date(1470222000000).toISOString();
        console.log(test_var)

        $(document).ready(function () {
            $('#calendar1').fullCalendar({
                customButtons: {
                    shareButton: {
                        text: 'Share',
                        click: function () {
                            alert('Added to Group');
                        }
                    },
                    clearButton: {
                        text: 'Clear',
                        click: function () {
                            $('#calendar1').fullCalendar('removeEvents');
                        }
                    },
                    overlayButton: {
                        text: 'overlay',
                        click: function () {
                            $('#calendar2').css({
                                'position': 'absolute',
                                'top': '0.70em'
                            });
                        }
                    }
                },
                header: {
                    left: 'overlayButton',
                    center: '',
                    right: 'clearButton, shareButton'
                },
                selectable: true,
                selectHelper: true,

                //Creates events on click/drag
                select: function (start, end, id) {
                    var eventData;
                    eventData = {
                        start: start, //start time
                        end: end, //end time
                        id: n //unique event id (order in which events are created starting on index 0)
                    };
                    $('#calendar1').fullCalendar('renderEvent', eventData, true); // stick? = true
                    $('#calendar1').fullCalendar('unselect');
                    calendar1.push(eventData); //append user's calendar list with latest event data
                    n++;
                },
                editable: false,
                eventLimit: true, // allow "more" link when too many events

                events: times, //private variable to temporaily store event data

                //Deletes events on click
                eventClick: function (eventData, jsEvent, view) {
                    $('#calendar1').fullCalendar('removeEvents', function (events) {
                        for (i = 0; i < calendar1.length; i++) { //iterates through globa calendar list and removes events based on unique id's
                            if (eventData.id == calendar1[i].id) {
                                calendar1.splice(i, 1);
                            };
                        };
                        return events == eventData;
                    });
                },
            });

            $('#calendar2').fullCalendar({
                header: {
                    left: '',
                    center: '',
                    right: ''
                },
                selectable: true,
                selectHelper: true,

                //Creates events on click/drag
                select: function (start, end, id) {
                    var eventData;
                    eventData = {
                        start: start, //start time
                        end: end, //end time
                        id: n //unique event id (order in which events are created starting on index 0)
                    };

                    window.location.href =  window.location.href + "/create_event/" + eventData.start + "/" + eventData.end

                    // console.log('blah')

                    // $.ajax({
                    //     url: '/create_event',
                    //     data: eventData,
                    //     type: 'POST',
                    //     success: function(response) {
                    //         console.log(response);
                    //     },
                    //     error: function(error) {
                    //         console.log(error);
                    //     }
                    // });

                    $('#calendar2').fullCalendar('renderEvent', eventData, true); // stick? = true
                    $('#calendar2').fullCalendar('unselect');
                    calendar2.push(eventData); //append user's calendar list with latest event data
                    n++;
                },
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: [], //private variable to temporaily store event data

                //Deletes events on click
                eventClick: function (eventData, jsEvent, view) {
                    $('#calendar2').fullCalendar('removeEvents', function (events) {
                        for (i = 0; i < calendar2.length; i++) { //iterates through globa calendar list and removes events based on unique id's
                            if (eventData.id == calendar2[i].id) {
                                calendar2.splice(i, 1);
                            };
                        };
                        return events == eventData;
                    });
                },
            });
        });
    </script>
</head>

<body>
    <div id='sidebar'>
        <!--<img id='sidebar-arrow' src='images/right-arrow-w.svg' alt=''>-->
        <ul id='sidebar-items'>
            <li id='logo-make'>
                <img src="{{ url_for('static', filename= 'images/logo-b.svg') }}" alt=''>
            </li>
            <li class='key'>
                <p>User Code:{{ user.name }}</p>
            </li>
            <li class='add'>
                <a href="/new_group/{{ user.name }}"><p><img src="{{ url_for('static', filename= 'images/add.png') }}"></p></a>
            </li>
        </ul>
    </div>
    <div id='main'>
        <div id='calendar1' class='calendar'>
        </div>
        <div id='calendar2' class='calendar'>
        </div>
    </div>

    <script>
        $(function () {
            $('#sidebar')
        });
    </script>
</body>

</html>