<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Büizé</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/fullcalendar.css') }}" />
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel='stylesheet' href="{{ url_for('static', filename='css/make.css') }}" />
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/fullcalendar.js') }}"></script>
    <script>
        var n = 0;
        calendar1 = []; //full list of events in user's calendar as json objects (start, end, id)
        calendar2 = [];
        var n = 0; //counter to generate unique id for each event

        $(document).ready(function () {
            $('#calendar1').fullCalendar({
                customButtons: {
                    shareButton: {
                        text: 'Share',
                        click: function () {
                            alert('Added to Group');
                        }
                    },
                    clearButton: {
                        text: 'Clear',
                        click: function () {
                            $('#calendar1').fullCalendar('removeEvents');
                        }
                    }
                },
                header: {
                    left: 'overlayButton',
                    center: '',
                    right: 'clearButton, shareButton'
                },
                selectable: true,
                selectHelper: true,

                //Creates events on click/drag
                select: function (start, end, id) {
                    var eventData;
                    eventData = {
                        start: start, //start time
                        end: end, //end time
                        id: n //unique event id (order in which events are created starting on index 0)
                    };
                    $('#calendar1').fullCalendar('renderEvent', eventData, true); // stick? = true
                    $('#calendar1').fullCalendar('unselect');
                    calendar1.push(eventData); //append user's calendar list with latest event data
                    n++;
                    console.log(eventData.start, eventData.end);
                },
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: [], //private variable to temporaily store event data

                //Deletes events on click
                eventClick: function (eventData, jsEvent, view) {
                    $('#calendar1').fullCalendar('removeEvents', function (events) {
                        for (i = 0; i < calendar.length; i++) { //iterates through globa calendar list and removes events based on unique id's
                            if (eventData.id == calendar[i].id) {
                                calendar.splice(i, 1);
                            };
                        };
                        return events == eventData;
                    });
                },
            });
        });
    </script>
</head>

<body>
    <div id='sidebar'>
        <!--<img id='sidebar-arrow' src='images/right-arrow-w.svg' alt=''>-->
        <ul id='sidebar-items'>
            <li id='logo-make'>
                <a href="/"><img src="{{ url_for('static', filename= 'images/logo-b.svg') }}" alt=''></a>
            </li>
            <li class='key'>
                <p>GROUPCALENDARID</p>
            </li>
            {% for user in users %}
            <li class='avatar'>
                <p><img src="{{ url_for('static', filename= 'images/contacts.png') }}" >{{ user.user.name }}</p>
            </li>
            {% endfor %}
            <li class='add'>
                <form action="/group/{{group_code}}/add_users" method="post">
                    <input type="submit" class="ghost-button plus" value="+">
                    <input type="text" name="username" class="add-box"> 
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div id='main'>
        <div id='calendar1' class='calendar'>
        </div>
        <div id='calendar2' class='calendar'>
        </div>
    </div>

    <script>
        $(function () {
            $('#sidebar')
        });
    </script>
</body>

</html>