<!doctype html>
<html>
	<head>
		<title>Busy</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1><a href="/">Busy</a></h1>

		<form action="/" method="POST">
			username: <input type="text" name="username"> <input type="submit" value="Go">
		</form>

		<br>
		{% if username_exists == True %}
			<b style="color:red;">{{ username }} exists!<b> <a href="/user/{{ username }}">Click to edit calendar</a>
		{% endif %}

		{% if username_exists == False %}
			<b style="color:green;">{{ username }} free!<b> <a href="/new_user/{{ username }}">Click to create calendar</a>
		{% endif %}

	</body>