<!doctype html>
<html>
	<head>
		<title>Busy</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1><a href="/">Busy</a> / {{ username }}</h1>
		
		<hr>

		<h2>is busy during:</h2>
		<ul>
			{% for event in events %}
				<li>{{ event[0] }} - {{ event[1] }} <a href="/user/{{ username }}/delete_event/{{ event[0] }}">X</a></li>
			{% endfor %}
		</ul>

		<hr>

		<form action="/user/{{ username }}/create_event/" method="POST">
			start: <input type="text" name="start"> <br>
			end: <input type="text" name="end"> <br>
			<input type="submit" value="Add">
		</form>
	</body>